{% load static %}

<div class="sidebar" style="background:url({% static 'funo/img/bg-01.jpg' %});">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="simple-text">
                <img src="{% static 'funo/img/funowhite.png' %}" width=80>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'function'' %}">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'user' %}">
                    <i class="nc-icon nc-circle-09"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'support' %}">
                    <i class="nc-icon nc-atom"></i>
                    <p>Support</p>
                </a>
            </li>
        
            <li>
                <a class="nav-link" href="{% url 'aboutus' %}">
                    <i class="nc-icon nc-grid-45"></i>
                    <p>About Us</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="{%url 'subs'%}">
                    <i class="nc-icon nc-email-85"></i>
                    <p>Subscription</p>
                </a>
            </li>
        </ul>
    </div>
</div>