{% extends 'funo/main.html' %}

{% load static %}

{% block content %}

    <div class="wrapper">
     
        <div class="sidebar" style="background:url({% static 'funo/img/bg-01.jpg' %});">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        
        Tip 2: you can also add an image using data-image tag
        -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                        <img src="{% static 'funo/img/funowhite.png' %}" width=80>
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a class="nav-link" href="{% url 'dashboard' %}">
                            <i class="nc-icon nc-chart-pie-35"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'user' %}">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'support' %}">
                            <i class="nc-icon nc-atom"></i>
                            <p>Support</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'weather' %}">
                            <i class="nc-icon nc-explore-2"></i>
                            <p>Weather Forecast</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'aboutus' %}">
                            <i class="nc-icon nc-grid-45"></i>
                            <p>About Us</p>
                        </a>
                    </li>
                    <li class="nav-item active"> 
                        <a class="nav-link" href="{%url 'subs'%}">
                            <i class="nc-icon nc-email-85"></i>
                            <p>Subscription</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      
        <div class="main-panel">
            
            {% include 'funo/navbar.html' %}

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="padding: 20px;">
                                <h2 style="font-weight:400;">Standard</h2>
                                <p>More functionality and resources to power your projects</p>
                                <h3 style="text-align:center;"><span class="text-md font-weight-bold mr-2">$</span>40</h3>
                                <div class="nav-item dropdown" style="padding:10px; font-size:13px;">
                                        <a class="nav-link dropdown-toggle" href="http://example.com" id="DropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="no-icon">Annual plan, paid monthly</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:13px;">
                                            <a class="dropdown-item" href="#">Annual plan, paid monthly</a>
                                            <a class="dropdown-item" href="#">Annual plan, prepaid</a>
                                        </div>
                                </div>

                                <ul class="checkedlist">
                                    <li>Latest version of the platform </li>
                                    <li>Premium learning resources</li>
                                    <li>Dark theme UI</li>
                                    <li>Splash screen customization</li>
                                    <li>Live-Ops analytics</li>
                                    <li>Real-time cloud diagnostics</li>
                                </ul>
                                <button type="submit" class="btn btn-info btn-fill pull-right" style="background-color: #000000; border-color: #000000;"><i class="nc-icon nc-check-2"></i>&nbsp Subscribed</button>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card" style="padding: 20px;">
                                <h2 style="font-weight:400;">Plus</h2>
                                <p>More functionality and resources to power your projects</p>
                                <h3 style="text-align:center;"><span class="text-md font-weight-bold mr-2">$</span>65</h3>
                                <div class="nav-item dropdown" style="padding:10px; font-size:13px;">
                                        <a class="nav-link dropdown-toggle" href="http://example.com" id="DropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="no-icon">Annual plan, paid monthly</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:13px;">
                                            <a class="dropdown-item" href="#">Annual plan, paid monthly</a>
                                            <a class="dropdown-item" href="#">Annual plan, prepaid</a>
                                        </div>
                                </div>
                                
                                <ul class="checkedlist">
                                    <li>Latest version of the platform </li>
                                    <li>Premium learning resources</li>
                                    <li>Dark theme UI</li>
                                    <li>Splash screen customization</li>
                                    <li>Live-Ops analytics</li>
                                    <li>Real-time cloud diagnostics</li>
                                </ul>
                                <button type="submit" class="btn btn-info btn-fill pull-right" data-toggle="modal" data-target="#centralModal">Subscribe Now</button>
                            </div>
                        </div>

                         <div class="col-md-4">
                            <div class="card" style="padding: 20px;"">
                                <h2 style="font-weight:400;">Premium</h2>
                                <p>More functionality and resources to power your projects</p>
                                <h3 style="text-align:center;"><span class="text-md font-weight-bold mr-2">$</span>110</h3>
                                <div class="nav-item dropdown" style="padding:10px; font-size:13px;">
                                        <a class="nav-link dropdown-toggle" href="http://example.com" id="DropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="no-icon">Annual plan, paid monthly</span>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size:13px;">
                                            <a class="dropdown-item" href="#">Annual plan, paid monthly</a>
                                            <a class="dropdown-item" href="#">Annual plan, prepaid</a>
                                        </div>
                                </div>
                                
                                <ul class="checkedlist">
                                    <li>Latest version of the platform </li>
                                    <li>Premium learning resources</li>
                                    <li>Dark theme UI</li>
                                    <li>Splash screen customization</li>
                                    <li>Live-Ops analytics</li>
                                    <li>Real-time cloud diagnostics</li>
                                </ul>
                                <button type="submit" class="btn btn-info btn-fill pull-right" data-toggle="modal" data-target="#centralModal">Subscribe Now</button>
                            </div>
                        </div>
                    </div>
                </div>  
               
                {% include 'funo/chatbox.html' %}

            </div>

            <!-- Modal -->
            <!-- Central Modal Small -->
            <div class="modal fade" id="centralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">

              <!-- Change class .modal-sm to change the size of the modal -->
              <div class="modal-dialog modal-lg" role="document">


                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title w-100" id="myModalLabel">Credit Card Checkout</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                        <div class="container-fluid px-1 px-md-1 px-lg-2 py-4 mx-auto">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-7 border-line px-5 checkout-field">
                                                <div class="form-group">
                                                    <p class="text-muted text-sm mb-0">Name on the card</p> <input type="text" name="name" placeholder="Name" size="15">
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-muted text-sm mb-0">Card Number</p>
                                                    <div class="row px-3"> <input type="text" name="card-num" placeholder="0000 0000 0000 0000" size="18" id="cr_no" minlength="19" maxlength="19">
                                                        <i class="fa fa-cc-visa fa-2x"></i>
                                                        <p style="font-size: 14px; padding: 8px; color:transparent">&nbsp; / &nbsp;</p>
                                                        <i class="fa fa-cc-mastercard fa-2x"></i>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-muted text-sm mb-0">Expiry date</p> <input type="text" name="exp" placeholder="MM/YY" size="6" id="exp" minlength="5" maxlength="5">
                                                </div>
                                                <div class="form-group">
                                                    <p class="text-muted text-sm mb-0">CVV/CVC</p> <input type="password" name="cvv" placeholder="000" size="1" minlength="3" maxlength="3">
                                                </div>

                                            </div>
                                            <div class="col-sm-5 text-sm-center justify-content-center pt-4 pb-4"> <small class="text-sm text-muted">Order number</small>
                                                <h5 class="mb-5">12345678</h5> <small class="text-sm text-muted">Payment amount</small>
                                                <div class="row px-3 justify-content-sm-center">
                                                    <h2 class=""><span class="text-md font-weight-bold mr-2">$</span><span class="text-dark">110</span></h2>
                                                </div> 
                                            </div>
                                        </div>
                                </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-fill pull-right" style="margin:auto;">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Central Modal Small -->

           {% include 'funo/footer.html' %}
    
        </div>

    </div>

{% endblock %}