{% extends 'funo/main.html' %}

{% load static %}

{% block content %}

    <div class="wrapper">
       
        {% include 'funo/sidebar.html' %}

        <div class="main-panel">
           
            {% include 'funo/navbar.html' %}
           
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="aboutbanner" style="background:url('/static/funo/img/bg-02.jpg'); background-position: bottom right;">
                            <h1 style="color:white; text-shadow: 5px 5px 6px #000000;">Contact Us.</h4>
                            <b><i><h4 style="color:white; font-weight:400; text-shadow: 3px 3px 6px #000000;">Connect with Us for Support.
                            </h4></i></b>
                        </div>
                        <div class="card-body">
                                 <div class="row contact-form">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="row input-container">
                                                <div class="col-md-12">
                                                    <div class="styled-input wide">
                                                        <input type="text" required />
                                                        <label>Name</label> 
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="styled-input">
                                                        <input type="text" required />
                                                        <label>Email</label> 
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="styled-input">
                                                        <input type="text" required />
                                                        <label>Phone Number</label> 
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="styled-input wide">
                                                        <textarea required></textarea>
                                                        <label>Message</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="btn btn-info btn-fill pull-right">Send Message</div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="map-responsive">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.5483287185307!2d101.87242401442514!3d2.945193597854939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cdce0fd89c5829%3A0xca94557719d2191!2sUniversity%20of%20Nottingham%20Malaysia!5e0!3m2!1sen!2smy!4v1582874202773!5m2!1sen!2smy" width="800" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
               </div>
                    <!--  End Modal -->
                </div>
            </div>
            
          {% include 'funo/footer.html' %}

        </div>
    </div>

{% endblock%}